.ReactTable .-pagination button {
  margin: 0;
}

.slider {
  width: 100%;
}

.js-plotly-plot {
  display: block;
  width: 100%;
}

.pull-number {
  font-size: 36px;
  font-family: "Graphik Web";
  font-weight: 800;
  width: 100%;
  display: block;
  border-bottom: solid 2px #222;
  line-height: 1.25;
  margin-bottom: 5px;
  color: #222222;
}

@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
}

@media all and (max-width: 800px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

}

